<div class="text-center">

    <div>
        <h1>Informações do Curso:</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Data Início</th>
                <th scope="col">Data Término</th>
                <th scope="col">Coordenador</th>
                <th scope="col">Instituição</th>
                <th scope="col">Endereço da Instituição</th>
                <th scope="col">Telefone da Instituição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>07/02/2022</td>
                <td>01/07/2022</td>
                <td>Júnior Cunha</td>
                <td>Senac</td>
                <td>Rod. Antônio Heil, 191 - Centro 2, Brusque - SC, 88353-100</td>
                <td>(47) 3351-2626</td>
            </tr>
        </tbody>
    </table>
    <div>
        <img src="/senac.jpg"
    </div>
</div>


