<h1 style="text-align:center">Adicionado com Sucesso</h1>
<p style="text-align:center">O novo aluno foi adicionado com sucesso </p>
<div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-primary" asp-controller="Aluno" asp-action="Index">OK</a>
</div>