<h1 style="text-align:center" 333>Falha ao Excluir Aluno</h1>
<p style="text-align:center">Não foi possível excluir o aluno.</p>
<div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-primary" asp-controller="Aluno" asp-action="Index">OK</a>
</div>