@model AlunoModel

<form asp-controller="Aluno" asp-action="Filtrar" method="post">
    <div class="text-center">
        <select class="form-select" aria-label="Default select example" asp-for="Operacao">
            <option selected>Filtrar por Idade</option>
            <option value=">">Idade maior que:</option>
            <option value="<">Idade menor que:</option>
            <option value="=">Idade igual a:</option>
        </select>
        <div>
            <input type="text" size="6" maxlength="2" asp-for="Idade" style="margin:10px" />
        </div>
    </div>

    <div class="text-center">
        <p style="margin-bottom: 0px">Cep igual a: </p>
        <div>
            <input type="text" size="6" maxlength="9" asp-for="Cep" style="margin:10px" />
        </div>
    </div>
    <div class="text-center">
        <p style="margin-bottom: 0px">Nome igual a: </p>
        <div>
            <input type="text" size="6" maxlength="30" asp-for="Nome" style="margin:10px" />
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <button type="submit" class="btn btn-primary" style="margin-right:5px">Buscar</button>
    </div>
    <div class="text-right">
        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
    </div>


</form>