<h1 style="text-align:center"333>Adicionado com Sucesso</h1>
<p style="text-align:center">O novo professor foi adicionado com sucesso</p>
   <div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-primary" asp-controller="Professor" asp-action="Index">OK</a>
</div>