<div class="text-center">

    <div>
        <h1>Conteúdos Administrados</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Professor(a)</th>
                <th scope="col">Disciplina</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Kátia Pollheim</td>
                <td>ASP NET MVC</td>
            </tr>


            <tr>
                <th scope="row">2</th>
                <td>Nivaldo Pühler</td>
                <td>ELABORAÇÃO PROJETOS WEB</td>

            </tr>
        </tbody>
    </table>
    
    <div>
        <h1>
            Conhecimentos adquiridos.
            <p>
                <a href="https://console.hgbrasil.com/documentation/weather">API's</a>
            </p>
        </h1>
    </div>
</div>


