@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Aluno(a)</h1>
    <p>Sobre o curso:</p>
    <p>Programa de capacitação tecnológica para formação de jovens denominada JOVEM PROGRAMADOR.</p>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-center">
    <button class="btn btn-primary" type="button">Sair</button>
</div>
